<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.setting">

    <application>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Act" />
        <activity
            android:name=".ui.UserServiceAgreementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Act" />
        <activity
            android:name=".ui.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Act" />
    </application>
</manifest>